body {
margin: 0;
overflow: hidden;
background: #fff04c;
}


/* Pompompurin */
#pompom {
position: fixed;
width: 120px; /* ajustá según tu imagen */
cursor: grab;


/* CLAVE: matar drag fantasma */
-webkit-user-drag: none;
user-drag: none;
user-select: none;
}
#size-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;

  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;

  border: none;
  border-radius: 10px;
  cursor: pointer;

  background: #ffdd55;
  box-shadow: 0 4px 10px rgba(0,0,0,.3);
}

#size-btn:active {
  transform: scale(0.95);
}