* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  background: rgba(38, 142, 39, 0.555);
  color: white;
  font-family: system-ui, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* ===== GALERÍA MOSAICO ===== */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 14px; /* separación entre fotos */
}

/* ===== IMÁGENES ===== */
.galeria img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* hover lindo */
.galeria img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(38, 142, 39, 0.555);
}