body {
  margin: 0;
  overflow: hidden;
  background: #f7fa21;
  font-family: sans-serif;
}

/* botón */
#grow-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 10;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Pompompurin */
#pompom {
  position: fixed;
  width: 120px;       /* tamaño inicial */
  height: auto;

  cursor: grab;

  /* matar drag fantasma */
  -webkit-user-drag: none;
  user-select: none;
}
